
.fishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: blanchedalmond;
    padding: 2em;
    box-shadow: 0 0 1em black;
}
.fishes__header {
    text-align: center;
}

.fish__name {
    text-align: center;
    
}

.fish {
    margin: 0 2em;
}

.fish__image {
    max-height: 6em;
}