.locations__header {
    text-align: center;
}

.locations {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    padding: 2em;
    box-shadow: 0 0 1em black;
}

.location {
    display: flex;
}

.location__image {
    max-height: 4em;
}

.location__info {
    display: flex;
    margin: 1em;
    flex-direction: column;
    justify-content: center;
}

