@import "./locations.css";
@import "./fishes.css";
@import "./quotes.css";
@import "./tips.css";

.header__home {
    text-align: center;
    background-color: blanchedalmond;
}

h2 {
    border: 1px solid black;
    
}

main {
    display: flex;
}

.flex-container-left {
    flex:3;
}

