.quotes__header {
    text-align: center;
}

.quotes {
    background-color: blanchedalmond;
    padding: 2em;
    box-shadow: 0 0 1em black;
}

.quote {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1em;
}
