.quotes__header {
    text-align: center;
}

.quotes {
    margin: 1em;
    background-color: blanchedalmond;
    padding: 2em;
}

.quote {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1em;
}
